
/*HEADER*/

h1 {
	font-size: 50px;
}

header {
	text-align: center;
	padding: 20px;
	background-color: #211e2f;
	color: white;
	font-family: 'Roboto Slab', serif;
}

header a {
	color: gold;
	text-decoration: none;
}

header a:hover {
	color: white;
}

/*general page formatting*/